@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

html, body, #root {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

/* Permitir scroll apenas dentro dos containers internos */
.scroll-container {
  overflow-y: auto;
  height: 100%;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
